<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title th:text="${title}"></title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p>Kerenza Doxolodeo : 18 September 1998</p>
	<p>An passionate student who is willing to study and discover new things together</</p>
	 <p th:text="${title}" />
</body>
</html>
